<form action="requestExchange" method="post">
    <label for ="requester-item">내 물품 선택</label>
    <select name="requester_item_id" id="requester-item">
        <option value="no-item">입력하기</option>
        <option value="item1">내 물품 1</option>
        <option value="item2">내 물품 2</option>
    </select>
    <input type="hidden" name="responder_item_id" value="{{responder_item_id}}">

    <label for="message">상대방에게 남길 메시지:</label>
    <textarea name="message" id="message" rows="4" placeholder="메시지를 입력하세요"></textarea>

    <button type="submit">교환 신청</button>

</form>
